@model Person
<tr>
    <td>@Model.FirstName</td>
    <td>@Model.LastName</td>
    <td>
        <a class="btn btn-outline-primary" 
           asp-controller="Ticket" 
           asp-action="Index" 
           asp-route-assignedToId="@Model.Id">Assigned Tickets</a>
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
            <i class="fa fa-edit"></i> Edit</a>
        <button class="btn btn-danger" 
                data-bs-toggle="modal" 
                data-bs-target="#deleteModal"
                data-id="@Model.Id"
                data-role="Delete">
            <i class="fa fa-trash"></i>
        </button>
    </td>
</tr>